################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

**/bin/
**/obj/
**/.vs/
/.vs/CteTest/v16/.suo
/CteTest.dbmdl
/CteTest.jfm
