################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/obj/Debug/CteTest.dll
/obj/Debug/CteTest.pdb
/obj/Debug/CteTest.sqlproj.FileListAbsolute.txt
/obj/Debug/Model.xml
/obj/Debug/postdeploy.sql
/obj/Debug/refactor.xml
